<header class="site-header">
    <div class="container header-container">
        <div class="site-identity">
            <a href="/">
                <img src="../media/logo.svg" alt="" srcset="">
            </a>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
                <li><a href="/Doctors">Doctors</a></li>
                <li><a href="/Nurses">Nurses</a></li>
                <li><a href="/Patients">Patients</a></li>
            </ul>
        </nav>

    </div>
</header>